    
button{margin:8px; 
border-radius:4px;
	color:#f9f6f7;
	background-color: #413c69

}

.boxone
{font-family: Times New Roman;

	  background-color:#fbdff0; 
	border-left: :8px dotted #cccccc;
	border-radius:18px;
	margin: 4px;
	height: 480px;
	width:463px;
	padding: 8px;
	align:center;

	Float:left ;
	
	 }
.boxtwo{font-family: Times New Roman;

	  background-color:#fbdff0; 
	border-left: :8px dotted #cccccc;
	border-radius:18px;
	margin: 4px;
	height: 480px;
	width:463px;
	padding: 8px;
	align:center;
	Float:left ;


}
.boxthree{font-family: Times New Roman;

	  background-color:#fbdff0; 
	border-left: :8px dotted #cccccc;
	border-radius:18px;
	margin: 4px; 
	height: 480px;
	width:463px;
	padding: 8px;
	align:center;
	Float:left ;

}
.boxfour{font-family: Times New Roman;

	  background-color:#fbdff0; 
	border-left: :8px dotted #cccccc;
	border-radius:18px;
	margin: 4px; 
	height: 480px;
	width:463px;
	padding: 8px;
	align:center;
	Float:left ;
}
.boxfive{font-family: Times New Roman;

	  background-color:#fbdff0; 
	border-left: :8px dotted #cccccc;
	border-radius:18px;
	margin: 4px; 
	height: 480px;
	width:463px;
	padding: 8px;
	align:center;
	Float:left ;
}
.boxsix{font-family: Times New Roman;

	  background-color:#fbdff0; 
	border-left: :8px dotted #cccccc;
	border-radius:18px;
	margin: 4px; 
	height: 480px;
	width:463px;
	padding: 8px;
	align:center;
	Float:left ;
}
.boxseven{font-family: Times New Roman;

	  background-color:#fbdff0; 
	border-left: :8px dotted #cccccc;
	border-radius:18px;
	margin: 4px; 
	height: 480px;
	width:463px;
	padding: 8px;
	align:center;
	Float:left ;
}
.boxeight{font-family: Times New Roman;

	  background-color:#fbdff0; 
	border-left: :8px dotted #cccccc;
	border-radius:18px;
	margin: 4px; 
	height: 480px;
	width:463px;
	padding: 8px;
	align:center;
	Float:left 
}
.boxnine{font-family: Times New Roman;

	  background-color:#fbdff0; 
	border-left: :8px dotted #cccccc;
	border-radius:18px;
	margin: 4px; 
	height: 480px;
	width:463px;
	padding: 8px;
	align:center;
	Float:left 
}

.boxone img{}
.q{font-family:Tahoma;




}
.sd{background:#fbdff0
font-family:"微软雅黑";font-weight:bold; }

body {background-color:#f6c3e5;}